.table {
  width: 100%;
  /* table-layout: fixed; */
  border-collapse: collapse;
  background-color: rgba(185, 185, 185, 0.322);
  text-align: center;

  box-shadow: var(--shadow-small);
}

.thead {
  color: var(--color-white);
  background-color: var(--color-accent);
  text-transform: uppercase;
}

.td {
  /* padding: 10px; */
  border: 1px solid var(--color-gray);
  color: var(--color-dark);
}

.th {
  padding: 10px;
  border: 1px solid var(--color-gray);
  color: var(--color-white);
}

.tr {
  &:nth-of-type(odd) {
    background-color: var(--color-light);
  }
}


 .th1{
  border: 1px solid var(--color-gray);
  padding: 10px 1px 10px 1px;
  width: 40px;
  };

  .th2{
    border: 1px solid var(--color-gray);
    padding: 10px 1px 10px 1px;
    width: 60px;
    };
    


.th3{
  border: 1px solid var(--color-gray);
  /* padding: 10px 1px 10px 1px; */
      width: 120px;
      }; 